<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= ></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Calculadora</title>
</head>
<body>
    <div class= 2>
        
    </div>
</body>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="../static/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <a class="navbar-brand" href="#"><h2>RenalSoft</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Calculadora</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ejercicios Propuestos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Fórmula para medir la cantidad de agua en cualquier espacio:
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong><form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Cantidad de agua: </label>
                    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                    </div>
                    <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Concentración:</label>
                    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                    <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Volumen de Agua:</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        </div>
                    </div>

                    <br>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Calcular</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Fórmula para medir la cantidad de agua en cualquier espacio:
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <strong><form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Agua Corporal total: </label>
                  <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                  </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Constante (0.73):</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                </div>
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Masa Corporal Magra:</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    </div>
                  </div>
                <br>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Calcular</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Fórmula para medir el exceso de peso corporal:
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <strong><form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Peso Corporal: </label>
                  <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Masa Corporal:</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                </div>
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Exceso de Peso Corporal:</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    </div>
                  </div>
                    <br>
                    <div class="col-12">
                    <button class="btn btn-primary" type="submit">Calcular</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Fórmula para medir el establecimiento de equilibrio (Gibbs-Donnan):
          </button>
          </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Concentración de Na+ incial: </label>
                  <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Concentración de Na+ final:</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                </div>
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">r:</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    </div>
                  </div>
                  <br>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Calcular</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Estimación de la tasa de filtración glomerular (GFR):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Valor del flujo de la orina: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Cantidad de orina en la orina:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Concentración de insulina en plasma:</label>
                  <input type="text" class="form-control" id="validationCustom03" aria-describedby="inputGroupPrepend" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">GFR:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Estimación del flujo plasmático renal (ERPF):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Valor del flujo de la orina: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Concentración de ácido paraaminohipúrico en la orina:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Concentración de ácido paraaminohipúrico en plasma:</label>
                  <input type="text" class="form-control" id="validationCustom03" aria-describedby="inputGroupPrepend" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">ERPF:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Estimación del flujo plasmático renal VERDADERO (RPF):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Valor del flujo de la orina: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Concentración de ácido paraaminohipúrico en la orina:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Concentración de ácido paraaminohipúrico en sangre arterial:</label>
                  <input type="text" class="form-control" id="validationCustom03" aria-describedby="inputGroupPrepend" required>
              </div>
              <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Concentración de ácido paraaminohipúrico en sangre venosa:</label>
                    <input type="text" class="form-control" id="validationCustom04" aria-describedby="inputGroupPrepend" required>
                </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">RPF:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingEigth">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEigth" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Estimación del flujo de sangre renal estimado(ERBF):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEigth" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEigth">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">ERPF: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Hematocrito:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">ERBF:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Estimación del flujo de sangre renal real(RBF):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">RPF: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Hematocrito:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">RBF:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Clearence de una sustancia x (Cx):
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
          <div class="accordion-body">
            <strong><form class="row g-3 needs-validation" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Flujo de orina: </label>
                <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Cantida de sustancia x en la orina:</label>
                <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
              </div>
              <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Cantida de sustancia x en el plasma:</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Cx:</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <br>
                  <div class="col-12">
                      <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
          </div>
        </div>
      </div>
    </div>









</body>