<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/css/images.css"></link>
    <link rel="stylesheet" href= "../static/css/div.css"></link>
    <link rel="stylesheet" href= "../static/css/a.css"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>RenalSoft</title>
</head> 
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="../static/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <a class="navbar-brand" href="#"><h2>RenalSoft</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="vista_inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calculadora</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ejercicios Propuestos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="row ">
            <div class="col">
                <div class="card index-carousel-row card-size">
                <img src="../static/anatomyS.jpg" class="card-img-top image-size" alt="Anatomía del Sistema Renal">
                    <div class="card-body">
                    <h5 class="card-title">Anatomía del Sistema Renal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="vista_anatomia" class="btn btn-primary positionB-index">¡Vamos!</a>
                    </div>
                </div> 
            </div>

            <div class="col">
                <div class="card index-carousel-row card-size">
                <img src="../static/FisiologiaS.jpeg" class="card-img-top image-size" alt="...">
                <div class="card-body">
                <h5 class="card-title">Fisiología del Sistema Renal</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="vista_fisiologia" class="btn btn-primary positionB-index">¡Vamos!</a>
                </div>
                </div>
            </div>
            <div class= "col" >
                <div class="card index-carousel-row card-size">
                <img src="../static/MofologíaSi.jpg" class="card-img-top image-size" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Morfología del Sistema Renal</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="vista_morfologia" class="btn btn-primary positionB-index">¡Vamos!</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>