<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Fisiología</title>
</head> 

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="../static/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <a class="navbar-brand" href="#"><h2>RenalSoft</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calculadora</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ejercicios Propuestos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        <h1>Fisiología del sistema Renal</h1>

    </div>
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <h3>Introducción</h3>
            Conceptos generales
            También se le conoce con el nombre de Aparato Excretor. Está formado por una serie de estructuras cuya función 
            principal es recoger y eliminar todas las sustancias de desecho resultantes de las reacciones bioquímicas que tienen lugar en el organismo.
            Los órganos principales de este aparato son los riñones que forman la orina a partir de un proceso de filtración de la sangre. Por tanto, 
            las funciones del aparato urinario se pueden resumir como:
            Formación de la orina en el riñón. La formación y eliminación de la orina contribuye a la regulación del medio interno.
            El riñón también se comporta como una glándula endocrina secretando una hormona, la eritropoyetina, que es necesaria en la producción 
            de glóbulos rojos (hematopoyesis). También produce renina que participa en la regulación de la presión arterial.
            Transporte de la orina hasta la vejiga urinaria a través de los uréteres.
            Almacenamiento de la orina en la vejiga.
            Eliminación de la orina a través de la uretra.
          <h4>Anatomía del aparato urinario</h4>
           Constituido por dos riñones, dos uréteres, la vejiga y la uretra.
            <h4> Riñones:</h4>
           Son dos órganos macizos, uno derecho y otro izquierdo, situados en la región lumbar, uno a cada lado de la columna vertebral y algo por delante 
           de ésta. Su tamaño es de 11 x 3 x 5 cm, aproximadamente y su peso oscila entre 110 y 180 gramos. En forma de habichuela el riñón presenta dos bordes, 
           uno externo y otro interno en el que se localiza una hendidura central denominada hilio renal.
           El riñón derecho está ligeramente más bajo que el izquierdo, ya que el hígado lo desplaza hacia abajo.
           Si realizamos un corte en un riñón en sentido vertical, se observarán las siguientes partes:
         <h4> Corteza renal:</h4> Es la porción más externa del mismo. De aspecto uniforme. Tiene aproximadamente 1 cm de espesor y rodea la médula.
         </div>
          <div class="col">
            <h3>Fisiología</h3>
            <img src="../static/fisiologiaimage.jpeg" class="img-thumbnail" alt="load...">
            <video controls 
              style="width: 100%; height: 100%; margin-right: 10px; margin-bottom: 10px;">
              <source src="../static/videofisiologia.mp4" type="video/mp4">
            Tu navegador no soporta el video.
            </video>
          </div>
      </div>
    </div>
    <div class="container"> 
      <div class="row align-items-start">
       <h4> Médula renal: </h4>
       Es la porción más interna del riñón. Tiene aspecto estriado y está formada por pirámides cónicas denominadas Pirámides de Malphigio. 
       El número de pirámides oscila entre 8 y 18 en cada riñón. La base de cada pirámide está orientada hacia el exterior y el vértice hacia el hilio renal. En el 
       vértice de la misma se localiza la papila renal.
        El hilio renal es una hendidura situada en el borde interno del riñón. A través del hilio renal penetran en el rinón la arteria renal y nervios y salen la 
        vena renal y uréter.
           La zona de la corteza renal situada entre cada dos pirámides se denomina columna de Bertin.
           Un lóbulo renal está formado por la pirámide renal y la correspondiente zona de corteza que la rodea.
           Las pirámides renales se unen por su extremo convexo en los llamados cálices menores, que son de 8 a 10 por pirámide, y que a su vez se unen para 
       formar de 2 a 3 cálices mayores. Los cálices mayores se unen entre sí para formar la pelvis renal. La pelvis renal desemboca en el uréter.
           La unidad estructural y funcional del riñón se denomina Nefrona. En cada riñón hay entre 1 y 3 millones de nefronas. 
       
       <h4>Cada nefrona está formada por:</h4>
          <h4> Corpúsculo renal:</h4> Constituido por el Glomérulo y la Cápsula de Bowman. El glomérulo está formado a su vez por una tupida red de capilares 
       sanguíneos envueltos por una membrana denominada Cápsula de Bowman. En el interior de esa cápsula entra una arteriola, denominada arteriola 
       aferente y sale otra llamada arteriola eferente. La Cápsula de Bowman es una membrana de doble hoja, que se invagina sobre sí misma para alojar
        al glomérulo, creando en su interior un espacio, el espacio de Bowman, donde se recoge la orina filtrada del glomérulo.
       
       Túbulo Contorneado Proximal (TCP): Es la continuación del corpúsculo renal. Presenta dos zonas, una situada en la corteza renal, que presenta
        muchas sinuosidades alrededor del corpúsculo renal, y otra situada en la zona medular del riñón, mucho más recta que la primera. La pared del TCP
        está formada por una capa de células epiteliales apoyadas sobre una membrana basal.
           Asa de Henle: En forma de U. Está formada por una porción descendente y delgada y una porción ascendente que en la primera parte del trayecto es 
       delgada mientras que en la segunda es gruesa.
           Túbulo Contorneado Distal (TCD): Es la continuación del Asa de Henle.
           Túbulo colector (TC): Es un tubo recto. Se reúnen entre sí para desaguar en los cálices de la pelvis renal.
           La cápsula de Bowman, TCP y TCD están situados en la corteza renal. Asa de Henle y TC se sitúan en la médula renal.
       
         Hay nefronas que ocupan en el riñón una posición cortical mientras otras se sitúan en posición yuxtamedular.
       <h4>Uréteres</h4>
           Son dos largos tubos, uno izquierdo y otro derecho, que comunican por su extremo superior con la pelvis renal y por su extremo inferior con la vejiga 
       urinaria. Tienen una longitud aproximada de 30 cm.
           La pared ureteral está formada por las siguientes capas: una capa mucosa, que tapiza internamente la luz del tubo, una capa de músculo liso y una capa 
       externa o adventicia.
       <h4>Vejiga</h4>
           Es una especie de saco membranoso que actúa como reservorio de orina entre cada dos micciones. Situada detrás de la sínfisis del pubis tiene forma de pera. 
       Presenta una base ancha de forma triangular, el trígono de lietaud, en cuyos vértices superiores desembocan los uréteres. En el vértice inferior tiene su 
       comienzo la uretra.
       <h4>Uretra</h4>
       Representa la parte final de las vías urinarias. En la mujer la uretra es muy corta (4 cm aproximadamente). En el varón mide unos 20 cm aproximadamente.
       En el varón hay que diferenciar tres segmentos, a saber: uretra prostática, uretra membranosa y uretra cavernosa.
       la uretra prostática mide unos 3 cm de longitud,. Atraviesa el espesor de la próstata y en ella desemboca la próstata y los dos conductos deferentes.
       la uretra membranosa es muy corta (2,5 cm), y presenta un engrosamiento de fibras musculares esqueléticas que corresponde al esfínter externo. Dicho 
       esfínter está controlado voluntariamente.
       la uretra cavernosa discurre en el espesor del músculo del mismo nombre, mide unos 15 cm y termina en el meato urinario.
           La unión de la uretra con la vejiga presenta un engrosamiento muscular denominado esfínter uretral interno, formado por fíbras musculares dispuestas 
       en haces espirales, circulares y longitudinales que constituyen el músculo detrusor de la vejiga.
       <h4>Vascularización del riñón</h4>
           La arteria renal, que es una rama de la aorta abdominal, penetra en el riñón a través del hilio, ramificándose internamente de manera que el riñón sea uno 
       de los órganos mejor vascularizados.
           La arteria renal se ramifica formando pequeñas arterias interlobulares que llegan a la zona cortical para formar las arterias arqueadas que se sitúan a
       lrededor de la base de las pirámides. De las arterias arqueadas nacen las arteriolas aferentes que llegan a la cápsula de Bowman para dividirse en su interior
        en una tupida red de capilares, los capilares glomerulares.
           Los capilares glomerulares vuelven a fusionarse entre sí para dar lugar a la arteriola eferente que abandona la cápsula de Bowman y, a su vez, desaguan 
       en las venas intertabulares y éstas a su vez en la vena renal que abandona el riñón por el hilio renal. La vena renal desemboca en la vena cava inferior.
           El flujo de sangre que llega al riñón es muy elevado, 1.200 mi/minuto, lo que representa la quinta parte de sangre que bombea el corazón en un minuto.
           De esta manera la sangre es sometida en el riñón a un proceso de depuración donde son eliminados todos aquellos metabolitos de desecho y sustancias 
       que se encuentran en exceso, para mantener así el equilibrio homeostático.
       <h4>Formación de la orina</h4>
           La homeostasis consiste en el mantenimiento constante del medio interno, sin modificación de los parámetros bioquímicos. Esta función se lleva a cabo 
       gracias al riñón que se comporta como una estación depuradora de la sangre que atraviesa los glomérulos renales.
           La formación de la orina definitiva que produce el aparato excretor es el resultado de tres mecanismos diferentes, a saber:
       Filtración glomerular.
       Reabsorción tubular.
       Secreción tubular.
       Filtración glomerular
           La sangre que atraviesa los glomérulos es sometida a un proceso de filtración, que la hace pasar desde la luz de los capilares glomerulares hacia la 
       luz de la cápsula de Bowman. La barrera de filtración la forman: endotelio de los capilares glomerulares, la membrana basal y la capa de células 
       epiteliales (podocitos) de la cápsula de Bowman. No todos los componentes de la sangre son capaces de atravesar esta barrera. Así, en condiciones 
       normales, las células sanguíneas y las moléculas de medio y alto peso molecular no son filtradas.
           El filtrado glomerular está compuesto fundamentalmente por agua, electrolitos y moléculas de distinta naturaleza pero de bajo peso molecular, 
       manteniendo una concentración similar a la del plasma sanguíneo. En el filtrado glomerular apenas existen proteínas, dado que su elevado peso molecular 
       dificulta que atraviesen la barrera glomerular.
           Esta filtración se produce debido a la presión efectiva de filtración, que es la fuerza neta que permite el paso de agua y solutos a través de la barrera 
       de filtración.
       La Presión efectiva de filtración es el resultado de:
       La diferencia de presiones entre la presión hidrostática de la luz de los capilares glomerulares y la presión hidrostática de la luz de la cápsula de Bowman. 
       Esta presión favorece la salida de los líquidos hacia la cápsula de Bowman.
       La Presión oncótica del capilar glomerular. Se debe a las proteínas del plasma que por su carga eléctrica de superficie son capaces de atraer y retener 
       agua y solutos dentro de la luz capilar. Esta presión evita en cierto grado la salida de un mayor volumen de líquidos hacia la cápsula de Bowman.
           Los riñones humanos filtran al día aproximadamente 180 litros y sin embargo se eliminan en condiciones normales 1,5 I de orina.
       Reabsorción tubular
           En condiciones normales el riñón reabsorbe el 99% del agua y del sodio filtrados.
           También reabsorbe moléculas importantes que son aprovechadas en el metabolismo general y que por su bajo peso molecular son filtradas, 
       tal como ocurre con la glucosa, aa, etc.
       a) TCP
           La reabsorción se realiza con el paso de líquidos desde la luz tubular al espacio intersticial inmediato y de ahí a la sangre (capilares).
           En este fragmento se reabsorbe entre el 65-70% del sodio filtrado. La reabsorción de sodio se acompaña de la reabsorción de cloro y bicarbonato para 
       mantener la neutralidad eléctrica.
           Se reabsorbe la totalidad de la glucosa y aa filtrados.
           Se reabsorbe el 50% del potasio filtrado bien por un mecanismo activo o pasivo con predominio del segundo mecanismo.
           Como consecuencia de la reabsorción de los anteriores, se produce una disminución de la osmolaridad del líquido filtrado y aumenta la del líquido 
       reabsorbido al espacio intersticial. Se crea así una diferencia de concentración entre ambos compartimentos que favorece la reabsorción pasiva del agua.
           También se reabsorbe el 50% de la urea filtrada por un mecanismo pasivo.
       b) Asa de Henle
           En la rama descendente del Asa se reabsorbe agua y también se produce la secreción neta de urea, que pasa del espacio intersticial a la luz del Asa 
       para ser eliminada por la orina. El líquido que queda en la luz del Asa se vuelve hipertónico al perder el agua y mantener los solutos.
           En la porción delgada de la rama ascendente del Asa de Henle se reabsorbe sodio y cloro de forma pasiva, debido al gradiente de concentración, 
       que es mayor en el Asa que en el espacio intersticial. Al final de este fragmento el líquido es isotónico.
           En la porción gruesa de la rama ascendente del Asa se reabsorbe por transporte activo cloro al que acompañan sodio y potasio. El líquido tubular 
       se vuelve hipotónico.
       c) TCD
           Hay un intercambio de sodio por potasio. El sodio es reabsorbido y el potasio secretado desde el espacio intersticial a la luz del TCD. Este mecanismo 
       de intercambio está controlado por la acción de la hormona llamada aldosterona. El paso del sodio al espacio intersticial se acompaña del paso de cloro. 
       El líquido resultante sigue siendo hipotónico.
       d) TC
           En este segmento tiene lugar la regulación definitiva del agua a favor de gradiente. El epitelio del túbulo es impermeable al agua y para que lo sea 
       necesita de la acción hormonal.
           Se reabsorbe agua hacia el espacio interticial por mecanismo activo que es controlado por la hormona antidiurética (ADH). El líquido del túbulo 
       colector se vuelve hipertónico.
       Se reabsorbe entre el 60-70% de la urea.
       Aclaramiento renal
           El riñón actúa como una estación depuradora retirando de la sangre gran cantidad de metabolitos y sustancias tóxicas producidos en el 
       <h4>metabolismo general del organismo.</h4>
           El aclaramiento en él permite valorar esta capacidad renal. Mide la capacidad de los riñones para eliminar una sustancia del plasma. 
       Se puede definir como el volumen de plasma que por la acción depuradora de los riñones queda libre de esa sustancia en la unidad de tiempo.
           En condiciones normales el proceso de formación de la orina en sus tres fases de filtración, reabsorción y secreción ayuda a mantener 
       el equilibrio hidroelectrolítico y ácido base de la sangre. El aclaramiento renal permite valorar el buen funcionamiento del riñón.
    </div>
    </div>

</body>
