<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/css/images.css"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Anatomía</title>
</head> 

<body>
    <div class="container">
        <h1>Anatomía del Sistema Renal</h1>

    </div>
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <h3>Introducción</h3>
            <h4>Definición del Sistema urinario:</h4>

            <h5> LOS RIÑONES: </h5>

            -Situación y principales relaciones anatómicas
            -Inervación e Irrigación
            -Morfología externa: hilio renal, cápsula fibrosa, cápsula adiposa y aponeurosis renal
            -Morfología interna: seno, parénquima renal (corteza y médula) y vascularización
            -Las nefronas: corpúsculos, túbulos y Aparato yuxtaglomerular

            <h5> LAS VÍAS URINARIAS: </h5>

            Las vías urinarias intrarrenales: cálices menores, mayores y pelvis renal
            Las vías urinarias extrarrenales: uréteres, vejiga urinaria, uretra femenina y uretra masculina.

            <h5> SITUACIÓN Y PRINCIPALES RELACIONES ANATÓMICAS </h5>
            Los riñones están situados en el abdomen a ambos lados de la región dorsolumbar
            de la columna vertebral, aproximadamente entre la 12ª vértebra dorsal y la 3ª
            vértebra lumbar, situándose el derecho en un plano inferior al izquierdo, debido a la
            presencia del hígado. La cara posterior de cada riñón se apoya en la pared
            abdominal posterior formada por los músculos posas mayor, cuadrado de los
            lomos y transverso del abdomen de cada lado, su cara anterior está recubierta
            por el peritoneo, de ahí que se consideren órganos retroperitoneales. A través de la
            membrana peritoneal, los riñones se relacionan con los órganos intraabdominales
            vecinos.
            El riñón derecho se relaciona con la vena cava inferior, la segunda porción del
            duodeno, el hígado y el ángulo hepático del colon, con los dos últimos a través del
            peritoneo.
            El riñón izquierdo se relaciona con la arteria aorta abdominal, el estómago, el
            páncreas, el ángulo esplénico del colon y el bazo.
            El polo superior de cada riñón está cubierto por la glándula suprarrenal
            correspondiente, que queda inmersa en la cápsula adiposa. 
            <h5> INERVACIÓN E IRRIGACIÓN</h5>
            La inervación de ambos riñones corre a cargo de los nervios renales que se
            originan en el ganglio celíaco, estructura nerviosa del sistema nervioso autónomo
            simpático situada sobre la arteria aorta abdominal, a ambos lados del tronco
            arterial celíaco, justo por debajo del diafragma. Los nervios renales forman el plexo
            renal que penetra en los riñones acompañando a las arterias renales, la mayoría
            son vasomotores (inervan vasos sanguíneos), de manera que regulan el flujo
            sanguíneo renal. 
            La irrigación de los riñones es muy abundante en relación a su peso y se debe a la
            función de depuración sanguínea que éstos realizan; las arterias renales derecha
            e izquierda son ramas de la arteria aorta abdominal, de la cual se originan a nivel
            de la primera vértebra lumbar, al penetrar por el hilio renal forman parte del
            pedículo renal (ver hilio renal). Ambas arterias aseguran un aporte de sangre de
            unos 1200 ml por minuto, en reposo, volumen que representa entre un 20 y 25 %
            del gasto cardíaco en reposo. El retorno venoso de los riñones se produce a través
            de las venas renales derecha e izquierda que drenan a la vena cava inferior. 

          </div>
          <div class="col">
            <h4>Anatomía</h4>
            <img src="../static/anatomiaRinones.jpeg" class="img-thumbnail" alt="load...">
            <h4> Anatomía del Riñón</h4>
            <img src="../static/rinon.jpg" class="img.img-thumbnail image-Size" alt="load...">
            <h4> Vídeo Resumen</h4>
            <video autoplay controls
                    style="width: 100%; height: 100%; margin-right: 10px; margin-bottom: 10px;">
                <source src="../static/videorinones.mp4" type="video/mp4">
                Tu navegador no soporta el video.
            </video>
          </div>
        </div>
    </div>
</body>
